/* CSS Document */

.rune {
	width:57px;
	height:72px;
	text-indent:-9999px;
	border:1px solid #000;
}
#rune_1 {
	background-image:url("../images/01theself.jpg");
}
#rune_2 {
	background-image:url("../images/02partnership.jpg");
}
#rune_3 {
	background-image:url("../images/03signals.jpg");
}
#rune_4 {
	background-image:url("../images/04separation.jpg");
}
#rune_5 {
	background-image:url("../images/05strength.jpg");
}
#rune_6 {
	background-image:url("../images/06initiation.jpg");
}
#rune_7 {
	background-image:url("../images/07constraint.jpg");
}
#rune_8 {
	background-image:url("../images/08fertility.jpg");
}
#rune_9 {
	background-image:url("../images/09defense.jpg");
}
#rune_10 {
	background-image:url("../images/10protection.jpg");
}
#rune_11 {
	background-image:url("../images/11possessions.jpg");
}
#rune_12 {
	background-image:url("../images/12joy.jpg");
}
#rune_13 {
	background-image:url("../images/13harvest.jpg");
}
#rune_14 {
	background-image:url("../images/14opening.jpg");
}
#rune_15 {
	background-image:url("../images/15warrior.jpg");
}
#rune_16 {
	background-image:url("../images/16growth.jpg");
}
#rune_17 {
	background-image:url("../images/17movement.jpg");
}
#rune_18 {
	background-image:url("../images/18flow.jpg");
}
#rune_19 {
	background-image:url("../images/19disruption.jpg");
}
#rune_20 {
	background-image:url("../images/20journey.jpg");
}
#rune_21 {
	background-image:url("../images/21gateway.jpg");
}
#rune_22 {
	background-image:url("../images/22breakthrough.jpg");
}
#rune_23 {
	background-image:url("../images/23standstill.jpg");
}
#rune_24 {
	background-image:url("../images/24wholeness.jpg");
}
#rune_25 {
	background-image:url("../images/25unknowable.jpg");
}
